*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.slide{
    width: 99%;
    height: 99vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.445),rgba(0,0,0,0.445)),url(https://i.pinimg.com/564x/c3/07/4a/c3074a63734a16c7a3cb2b9ffef7e779.jpg);
    background-size:cover ;
    background-position: bottom;
}
.navbar{
    width:100%;
    margin:auto;
    padding:20px 0;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: white;
}  
.navbar ul li{
    list-style: none;
    color: black;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a {
    color: black; /* Change this color to the one you want */
    text-decoration: none; 
    background-color: white;
}
.det{
    width:100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    text-align: left;
    font-size: 200%;
    color: white;
}
.par{
    width:100%;
    position: absolute;
    top: 55%;
    transform:translateY(-50%);
    text-align: left; 
    color: white;
}
.slide1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:0em;
    width: 99%;
    height: 99vh;
    text-align: center;
    background-color: rgb(232, 218, 201);
    color: rgb(252, 169, 17);
}
.head1{
    color: black;
    width: 50%;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    
}
.head2{
    color: black;
    width: 50%;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    

}
.head3{
    color: black;
    width: 50%;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    
}
.head4{
    color: black;
    width: 50%;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
    
}

